// OrderDetails.scss
@import '../styles/sharedStyles.scss';
// _variables.scss
$primary-color: #FF6347;
$secondary-color: #F8F9FA;
$tertiary-color: #343A40;
$card-background: #f9f6f2;
$card-border: #d27732;

.order-details {
  .order-info {
    background: $card-background;
    border: 1px solid $card-border;
    border-radius: 5px;
    padding: 1.25rem;

    h3 {
      margin-bottom: 1.25rem;
    }

    .order-item {
      margin-bottom: 1.25rem;
      padding: 0.625rem;
      border-bottom: 1px dashed $tertiary-color;

      &:last-child {
        border-bottom: none;
      }
    }

    .order-total {
      margin-top: 1.25rem;
      font-weight: bold;
    }
  }
}

