//OrdersList.scss
// _variables.scss
$primary-color: #FF6347;
$secondary-color: #F8F9FA;
$tertiary-color: #343A40;
$card-background: #f9f6f2;
$card-border: #d27732;

.orders-list {
  .order-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .order-card {
      background: $card-background;
      border: 1px solid $card-border;
      border-radius: 5px;
      margin-bottom: 1.25rem;
      width: calc(50% - 0.625rem);
      padding: 0.625rem;

      p {
        margin: 0;
        padding: 0;
      }

      a {
        text-decoration: none;
        color: $primary-color;

        &:hover {
          color: $tertiary-color;
        }
      }
    }
  }
}

