@import '../styles/sharedStyles.scss';
//About.scss
.about-content {
    color: #333;
    font-size: 1.2em;
    line-height: 1.6em;
    margin: 20px auto;
    max-width: 800px;
  
    h1 {
      color: #444;
      font-size: 2em;
      margin-bottom: 20px;
    }
  
    p {
      color: #666;
      font-size: 1.2em;
      line-height: 1.6em;
    }
  }
  