// Navbar.scss
$navbar-bg-color: #8b4513;
$navbar-color: #fff;
$navbar-hover-color: #ff6347;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  background-color: $navbar-bg-color;
  color: $navbar-color;

  @media (max-width: 1279px) {
    flex-direction: column;
  }
}

.navbar__logo {
  font-size: 2rem;
  font-family: 'Italiana', serif;
  color: $navbar-color;
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $navbar-hover-color;
  }
}

.navbar__links {
  list-style: none;
  display: flex;
  align-items: center;

  li {
    margin-left: 1.25rem;

    a {
      color: $navbar-color;
      text-decoration: none;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $navbar-hover-color;
      }
    }
  }

  @media (max-width: 1279px) {
    flex-direction: column;
    li {
      margin-left: 0;
      margin-top: 0.5rem;
    }
  }
}




  