// Navbar.scss
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; // This will align navbar title and navbar options
    padding: 20px;
    background-color: #8b4513; // Sicilian sand color
    color: #fff;
}

.navbar__logo {
    font-size: 2em;
    font-family: 'Italiana', serif; // apply Italiana font
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: #ff6347; // Italian flag green color
    }
}

.navbar__links {
    list-style: none;
    display: flex; // This will make navbar options horizontally aligned
    align-items: center; // This will align navbar options

    li {
        margin-left: 20px;

        a {
            color: #fff;
            text-decoration: none;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: #ff6347; // Italian flag green color
            }
        }
    }
}


  